.message {
    height: fit-content;
    min-height: 30px;
    width: fit-content;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    padding: 3px;
    
    .sender {
        font-size: 0.7em;
    }
}